html{
    font-size: 25px!important; /* 将根字体大小设置为20px */
}

.md-gird{
    max-width:72rem;
}

/* 定义颜色变量 */
:root {
    --level-1-bg: #55739f;
    --level-2-bg: #00696B;
    --level-3-bg: #FFFFE0;
    --level-4-bg: #FFA07A;
    --active-link-color: #FFD1DC;

    --advanced-blue-gray: #55739f;
    --light-orange: #ffa500;
    --light-beige: #f5f5dc; /* 浅米色 */
    --light-purple:#D8BFD8;

    --top-level-bg: #90E2E0;    /* 淡黄 */
    --second-level-bg: #f5f5f5;  /* 浅蓝灰 */
    --third-level-bg: #008080;   /* Teal */
    --fourth-level-bg: #e6e6fa;    /* 浅紫色，即淡薰衣草色 */
    --teal: #008080
}

/* 所有标题字体颜色为高级蓝灰色，字体为等线 */
h1, h2, h3, h4 {
    color: var(--advanced-blue-gray)!important;
    font-family: 'PingFang SC','等线', serif;
    font-weight: bold!important;
}

h1 {
    position: relative;
    text-align: center;
    font-size: 2.8rem!important;
    font-weight: bold!important;
    color: #000000!important;
}

/* 二级标题靠左，蓝灰色底纹，白色字体 */
h2 {
    position: relative;
    text-align: left;
    background-color: var(--advanced-blue-gray);
    color: white!important;
    font-size: 1.8rem!important;
    display: block;
    padding: 16px;
    border-radius: 16px;

    border-left: 16px solid transparent; /* 左边界透明，保持内容对齐 */
    border-right: 16px solid transparent; /* 右边界透明，保持内容对齐 */

}

/* 三级标题字体更小，蓝灰色字体，前面有一个蓝灰色色块用于区分 */
h3 {
    font-size: 1.4rem!important;
    padding-left: 2.0rem;
    position: relative;
}

h3::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0.75rem;
    height: 100%;
    background-color: #55739f;
}

/* 四级标题字体为斜体，浅橙色，字体大小为26 */
h4 {
    position: relative;
    font-style: italic!important;
    font-size: 1.2rem!important;
    font-weight: bold;
}

h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  vertical-align: top;
  position: absolute;
  right: calc(100% + 0.6rem);
  top:-2rem;
  color: #e07a5f !important;
  font-weight: bolder !important;
  border: 0;
  border-radius: 0;
  left: auto;
  float: left;
  padding: 0;
  font-family: 'HarmonyOS';
  font-size: 1.1rem !important;
}

h2::before {
  content: '#2';
  top: -10px;
}

h3::before {
  content: '#3';
  top: -5px;
}

h4::before {
  content: '#4';
  top: -5px;
}

h5::before {
  content: '#5';
  top: -5px;
}

h6::before {
  content: '#6';
  top: -5px;
}


body {
    font-size: 25px;
    background-color: #FFFFFF!important;
    font-family: 'Merriweather', '等线', serif;
}



p {
    font-size: 1.1rem;
    font-family: 'Merriweather', '等线', serif;
}
/*列表*/
ul, ol {
    font-size: 1.0rem;
}

ul ul, ol ol {
    font-size: 0.9rem;
}

ul ul ul, ol ol ol {
    font-size: 0.7rem;
}

ul ul ul ul, ol ol ol ol {
    font-size: 0.6rem;
}

/* 区块引用：英文：手写体 中文：楷体 */
blockquote {
    font-family: 'Comic Sans MS', '楷体', cursive!important;
    background-color: #ffffe0!important;
    overflow-x:auto;
    margin-left: 3.2rem!important;
    margin-right:0.8rem!important;
    font-size:0.7rem!important;
}

blockquote p {
    font-family: 'Comic Sans MS', '楷体', cursive!important;
    font-size:0.9rem!important;

}

blockquote ul, ol {
    font-size: 0.9rem;
}

blockquote ul ul, ol ol {
    font-size: 0.8rem;
}

blockquote ul ul ul, ol ol ol {
    font-size: 0.7rem;
}

blockquote ul ul ul ul, ol ol ol ol {
    font-size: 0.6rem;
}

